<nz-breadcrumb class = "breadcrumbSpace">
    <nz-breadcrumb-item>
      <a routerLink="/inicio/dashboard">
        <i nz-icon nzType="home"></i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a routerLink="/inicio/productos/consultar">
          <i nz-icon nzType="skin" nzTheme="outline"></i>
          <span>Productos</span>
        </a>
      </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a>
        <i nz-icon nzType="read" nzTheme="outline"></i>
        <span>Editar Producto</span> 
      </a>
      
    </nz-breadcrumb-item>
</nz-breadcrumb>


<div nz-row nzJustify="start" class="nombreProducto">
    <h2 nz-typography nz-col nzSpan="24" id="titulo"> {{productoInicial.titulo}}</h2>
    <form nzSpan="24" nz-col nz-form [formGroup]="productoForm" (ngSubmit)="submitForm()">
    <div nz-row >
          <nz-form-item nz-col nzSpan="12" nz-row nzJustify="start">
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" id="titulo" [nzSm]="24" [nzXs]="24" nzRequired nzFor="nombre">Nombre Producto</nz-form-label>
            <nz-form-control nzSpan="18" nz-col  [nzSm]="18" [nzXs]="18" [nzErrorTip]=nameProductoErrorMsg>
              <input nz-input placeholder="Nombre Producto"  formControlName="nombre" id="nombre" />
              <ng-template #nameProductoErrorMsg let-control>
                <ng-container *ngIf="control.hasError('required')">¡Por favor ingrese un nombre!</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">¡El nombre es demasiado largo!</ng-container>
    
                
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-col nzSpan="24" nz-row nzJustify="start">
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" id="titulo" [nzSm]="24" [nzXs]="24" nzRequired nzFor="descripcion">Descripción</nz-form-label>
            <nz-form-control nzSpan="10" nz-col  [nzSm]="18" [nzXs]="18" [nzErrorTip]=descripcionProductErrorMsg>

              <textarea nz-input placeholder="Descripción" formControlName="descripcion" id="descripcion" [nzAutosize]="{ minRows: 2, maxRows: 5 }"></textarea>
              <ng-template #descripcionProductErrorMsg let-control>
                <ng-container *ngIf="control.hasError('required')">¡Por favor ingrese una descripción!</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">¡La descripción es demasiada largo!</ng-container>
    
                
              </ng-template>
            </nz-form-control>
          </nz-form-item>

    
          

       

          <nz-form-item nz-col nzSpan="12" nz-row nzJustify="start" >
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" [nzSm]="24" [nzXs]="24" id="titulo" nzFor="categoria" nzRequired>Categoría</nz-form-label>
            <nz-form-control  nzSpan="18" nz-col  [nzSm]="18" [nzXs]="18" nzErrorTip="¡Elija una categoría por favor!">
              <nz-select
                (ngModelChange)="onChangeCategory($event)"
                class='BodegaOptions'
                id="categoria"
                formControlName="categoria"    
                nzPlaceHolder="Elija una categoría por favor"
                [ngModel]="'categoriaOriginalValue'" 

              >
                <nz-option class='BodegaOptions' *ngFor="let category of listOfCategorias" nzValue={{category.id}} nzLabel={{category.nombre}}></nz-option>
                <nz-option nzHide nzValue=categoriaOriginalValue nzLabel={{productoInicial.categoria_name}}></nz-option>

              </nz-select>
            
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-col nzSpan="12" nz-row nzJustify="start" >
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" [nzSm]="24" [nzXs]="24" id="titulo" nzFor="subcategoria" [nzRequired]="conSubcategoria">Subcategoría</nz-form-label>
            <nz-form-control  nzSpan="18" nz-col  [nzSm]="18" [nzXs]="18" nzErrorTip="¡Elija una sub-categoría por favor!">
              <nz-select
                class='BodegaOptions'
                id="subcategoria"
                formControlName="subcategoria"    
                nzPlaceHolder="Elija una sub-categoría por favor"
                [ngModel]="'subcategoriaOriginalValue'" 
              >
                <nz-option class='BodegaOptions' *ngFor="let subcategory of listOfSubCategorias" nzValue={{subcategory.id}} nzLabel={{subcategory.nombre}}></nz-option>                  
                <nz-option [nzDisabled]="true" *ngIf="!categoriaElegida" nzLabel={{mensajeSubcategoria}}></nz-option>
                <nz-option [nzDisabled]="true" *ngIf="!conSubcategoria" nzLabel={{mensajeSinSubcategoria}}></nz-option>
                <nz-option nzHide nzValue=subcategoriaOriginalValue nzLabel={{productoInicial.subcategoria_name}}></nz-option>


              </nz-select>
            
            </nz-form-control>
          </nz-form-item>

         

          
          <nz-form-item  nz-col nzSpan="6" nz-row nzJustify="start">
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" id="titulo" [nzSm]="24" [nzXs]="24" nzRequired nzFor="peso">Peso </nz-form-label>
            <nz-form-control nzSpan="18" nz-col  [nzSm]="18" [nzXs]="18" [nzErrorTip]=pesoProductoErrorMsg>
              <nz-input-group nzAddOnAfter="lb">
                <input nz-input placeholder="Peso"  formControlName="peso" id="peso" (ngModelChange)="onChangePeso($event)"/>
              </nz-input-group>
              <ng-template #pesoProductoErrorMsg let-control>
                <ng-container *ngIf="control.hasError('required')">¡Por favor ingrese un peso!</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">¡El peso es demasiado largo!</ng-container>
    
                
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item  nz-col nzSpan="6" nz-row nzJustify="start" >
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" id="titulo" [nzSm]="24" [nzXs]="24" nzRequired nzFor="dimensiones">Dimensiones </nz-form-label>
            <nz-form-control nzSpan="18" nz-col  [nzSm]="18" [nzXs]="18" [nzErrorTip]=dimensionProductoErrorMsg>
              <nz-input-group nzAddOnAfter="cm">
                <input nz-input placeholder="Dimensiones"  formControlName="dimensiones" id="dimensiones"  />
              </nz-input-group>
              <ng-template #dimensionProductoErrorMsg let-control>
                <ng-container *ngIf="control.hasError('required')">¡Por favor ingrese las dimensiones!</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">¡El texto es demasiado largo!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item  nz-col nzSpan="5" nz-row nzJustify="start">
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" id="titulo" [nzSm]="24" [nzXs]="24" nzRequired nzFor="material">Material </nz-form-label>
            <nz-form-control nzSpan="18" nz-col  [nzSm]="18" [nzXs]="18" [nzErrorTip]=materialProductoErrorMsg>
              <input nz-input placeholder="Material"  formControlName="material" id="material" />
              <ng-template #materialProductoErrorMsg let-control>
                <ng-container *ngIf="control.hasError('required')">¡Por favor ingrese el material!</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">¡El texto es demasiado largo!</ng-container>
    
                
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item  nz-col nzSpan="6" nz-row nzJustify="start">
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" id="titulo" [nzSm]="24" [nzXs]="24" nzRequired nzFor="precio">Créditos </nz-form-label>
            <nz-form-control nzSpan="18" nz-col  [nzSm]="18" [nzXs]="18" [nzErrorTip]=precioProdutoErrorMsg>
              <nz-input-group >
                <input nz-input placeholder="Créditos"  formControlName="precio" id="precio" (ngModelChange)="onChangeCreditos($event)"/>
              </nz-input-group>
              <ng-template #precioProdutoErrorMsg let-control>
                <ng-container *ngIf="control.hasError('required')">¡Por favor ingrese los créditos!</ng-container>
                <ng-container *ngIf="control.hasError('maxlength')">¡El texto es demasiada largo!</ng-container>
                <ng-container *ngIf="control.hasError('pattern')">¡Solo se pueden ingresar números!</ng-container>

                
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-col nzSpan="12" nz-row nzJustify="start" >
            <nz-form-label class ="labelNombre" nz-typography nz-col nzSpan="24" [nzSm]="24" [nzXs]="24" id="titulo" nzFor="bodega" nzRequired>Bodega</nz-form-label>
            <nz-form-control  nzSpan="18" nz-col  [nzSm]="18" [nzXs]="18" nzErrorTip="¡Elija una bodega por favor!">
              <nz-select
                class='BodegaOptions'
                id="bodega"
                formControlName="bodega"    
                nzPlaceHolder="Elija una bodega por favor"
                [ngModel]="'bodegaOriginalValue'" 

              >
                <nz-option class='BodegaOptions' *ngFor="let bodega of listOfBodegas" nzValue={{bodega.id}} nzLabel={{bodega.nombre}}></nz-option>
                <nz-option nzHide nzValue=bodegaOriginalValue nzLabel={{productoInicial.bodega_name}}></nz-option>

              </nz-select>
            
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-col nzSpan="14" nz-row nzJustify="start" >
            <div class="form-group">

            <nz-upload nzListType="picture"
            [nzMultiple]="true"  [(nzFileList)]="fileList">
              <button class="btn-submit" type="button">
                <i nz-icon nzType="upload"></i>
                Subir imágenes
              </button>
            </nz-upload>
            <p *ngIf="fileList.length === 0" class='imagenWarning' >¡Por favor suba al menos una imagen!</p>

             </div>
         </nz-form-item>


         
    </div>
    
    </form>

  
    <div nz-typography nz-col nzSpan="24"></div>

</div>

<div nz-row class="guardarButton">
  <div nz-typography nz-col nzSpan="24"></div>

  <button #Guardar (click)="actualizarProducto()" [disabled]="!productoForm.valid || fileList.length === 0" nz-col nzSpan="2" nzOffset="22" nz-button nzType="primary"> Guardar </button>

</div>

