
.iconoActionEditar{
    margin-left: 50px;
    padding-left: 50px;
}

#titulo{
    /*margin-bottom: 50px;*/
}


.search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

.descriptionTh
{
  width: 400px;
}

.estadoTh
{
  width: 140px;
}

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }

  .breadcrumbSpace
  {
    margin-bottom: 25px;
  }

  .labelNombre{
    font-weight: 700;
  }

  .evaluado{
    margin-top: 15px;
  }
