
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

<<<<<<< HEAD
@primary-color: #6144ff;
=======
 @primary-color: #6144ff;
>>>>>>> fc6646892dd205dda04302c9540f3eade0ac4a12
 @normal-color: #f7db7d;
 @layout-sider-background: #f7db7d;
 @layout-header-background:#f7db7d;
 @layout-trigger-background: #f7db7d;
 @layout-header-color: #000;
 @layout-trigger-color-light: #000;
 @white: #6144ff;
 @text-color-secondary: fade(#6144ff, 45%);


 @text-color-secondary-dark: fade(#000, 65%);
 @menu-bg: #f7db7d;

 @menu-popup-bg:#f7db7d;
 @menu-item-color: #000;
 @menu-dark-color: #6144ff;
 @menu-dark-bg: #f7db7d;
 @menu-dark-arrow-color: #6144ff;
 @menu-dark-submenu-bg: #6144ff;
 @menu-dark-highlight-color: #fff;
 @menu-dark-selected-item-icon-color: #f7db7d;
 @menu-dark-selected-item-text-color: #f7db7d;
 @menu-dark-item-hover-bg: transparent;
 @dropdown-menu-bg: #f7db7d;

<<<<<<< HEAD
=======
  @table-header-bg: #f7db7d;
  @table-header-color: #000;
  @table-header-sort-bg: #f7db7dc4;

>>>>>>> fc6646892dd205dda04302c9540f3eade0ac4a12
 .ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #f7db7d;
}

.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-submenu-title:hover{
  color: #6144ff;
<<<<<<< HEAD
}
=======
}

.ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::after, .ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-item:hover > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-item-active > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-active > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-open > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::before, .ant-menu-dark .ant-menu-submenu-title:hover > .ant-menu-submenu-title:hover > .ant-menu-submenu-arrow::before{
  color: #6144ff;
}

@link-hover-color: #000;
>>>>>>> fc6646892dd205dda04302c9540f3eade0ac4a12
