<nz-breadcrumb class = "breadcrumbSpace">
    <nz-breadcrumb-item>
      <a routerLink="/inicio/dashboard">
        <i nz-icon nzType="home"></i>
      </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/inicio/bodegas/consultar">
        <i nz-icon nzType="shop" nzTheme="outline"></i>
        <span>Bodegas</span>
      </a>
    </nz-breadcrumb-item>
    
  </nz-breadcrumb>
  
  <div nz-row>
    <h2 nz-col nzSpan="8" id="titulo"> Bodegas</h2>
    <button  [routerLink]="['/inicio/bodegas/crear']" nz-col nzSpan="4" nzOffset="12" nz-button nzType="primary"> Agregar Bodega </button>
  </div>
  
  <nz-table #editRowTable  nzBordered [nzData]="listOfDisplayData" nzTableLayout="fixed">
      <thead>
        <tr class="header">
         
          <th
          [nzSortOrder]="listOfColumns[0].sortOrder"
          [nzSortFn]="listOfColumns[0].sortFn"
          [nzSortDirections]="listOfColumns[0].sortDirections"
          [nzFilterMultiple]="listOfColumns[0].filterMultiple"
          [nzFilterFn]="listOfColumns[0].filterFn"
          nzCustomFilter 
          class="header"
        >
          {{ listOfColumns[0].name }}
          <nz-filter-trigger [(nzVisible)]="visibleName" [nzActive]="searchValueName.length > 0" [nzDropdownMenu]="menuName">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>

          <th
            [nzSortOrder]="listOfColumns[1].sortOrder"
            [nzSortFn]="listOfColumns[1].sortFn"
            [nzSortDirections]="listOfColumns[1].sortDirections"
            [nzFilterMultiple]="listOfColumns[1].filterMultiple"
            [nzFilterFn]="listOfColumns[1].filterFn"
            nzCustomFilter 
            class="header"
          >
            {{ listOfColumns[1].name }}
            <nz-filter-trigger [(nzVisible)]="visibleDireccion" [nzActive]="searchValueDireccion.length > 0" [nzDropdownMenu]="menuDireccion">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>

          <th
            [nzSortOrder]="listOfColumns[2].sortOrder"
            [nzSortFn]="listOfColumns[2].sortFn"
            [nzSortDirections]="listOfColumns[2].sortDirections"
            [nzFilterMultiple]="listOfColumns[2].filterMultiple"
            [nzFilterFn]="listOfColumns[2].filterFn"
            nzCustomFilter 
            class="header"
          >
            {{ listOfColumns[2].name }}
            <nz-filter-trigger [(nzVisible)]="visibleCiudad" [nzActive]="searchValueCiudad.length > 0" [nzDropdownMenu]="menuCiudad">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>

          <th class="header"  nzAlign= 'center'>Editar</th>
          <th class="header"  nzAlign= 'center'>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td>{{ data.nombre }}</td>
          <td>{{ data.direccion }}</td>
          <td >{{ data.ciudad_name }}</td>

          <td class="iconoActionEditar" nzAlign= 'center'>
              <a [routerLink]="['/inicio/bodegas/editar']" [queryParams]= "{id: data.id}" >
                  <i nz-button nzType="link" nz-icon nzType="edit" nzTheme="fill"></i>
              </a>
          </td>
          <td class="iconoActionEliminar"  nzAlign= 'center'>
              <a nz-button nzType="link" nzDanger (click)="eliminarBodega(data.id, data.is_active)">
                <i  *ngIf='data.is_active' data-toggle="tooltip" data-placement="bottom" title="De click para eliminado lógico" nz-icon nzType="stop" nzTheme="fill"></i>
                <i  *ngIf='!data.is_active' data-toggle="tooltip" data-placement="bottom" title="De click para activado lógico"nz-icon nzType="check-circle" nzTheme="fill"></i>
              </a>
          </td>
        </tr>
      </tbody>
  </nz-table>
  <nz-dropdown-menu #menuName="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Buscar nombre" [(ngModel)]="searchValueName" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchName()" class="search-button">Buscar</button>
        <button nz-button nzSize="small" (click)="resetName()">Reiniciar</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuDireccion="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Buscar dirección" [(ngModel)]="searchValueDireccion" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchAddress()" class="search-button">Buscar</button>
        <button nz-button nzSize="small" (click)="resetAddress()">Reiniciar</button>
      </div>
    </div>
  </nz-dropdown-menu>

  <nz-dropdown-menu #menuCiudad="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Buscar ciudad" [(ngModel)]="searchValueCiudad" />
        <button nz-button nzSize="small" nzType="primary" (click)="searchCity()" class="search-button">Buscar</button>
        <button nz-button nzSize="small" (click)="resetCity()">Reiniciar</button>
      </div>
    </div>
  </nz-dropdown-menu>
  
 